.Testimonials {
  margin-bottom: 80px;
}

.title {
  margin: 0 auto 5px auto !important;
  text-align: center;
}

.Features-sub {
  color: #1e2127;
  font-family: Dosis;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 44px;
}

.Non-Draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.Testimonials-slider {
  border-radius: 12px;
  padding: 39px 135px 0px 135px;
  display: flex;
}

.testimonialDesc {
  padding-bottom: 36px;
  color: #324168;
  font-family: Dosis;
}

.testimonialPosition {
  color: #324168;
  font-size: 15px;
  font-family: Dosis;
}

.testimonialName {
  font-size: 31px;
  font-weight: bold;
  font-family: Dosis;
  color: #324168;
}
.alice-carousel {
  position: relative;
  box-sizing: border-box;
  width: 91% !important;
  height: 250px !important;
  margin: auto;
  direction: ltr;
}

.alice-carousel__wrapper {
  overflow: hidden;
  text-align: center;
  height: auto !important;
  box-sizing: border-box;
  display: flex;
}

.slider-container {
  display: flex;
  padding: 0 135px 0 117px;
  justify-content: center;
}

.slidePrev {
  width: 40px;
  height: 40px;
  margin-right: 13px;
  background-color: #9ec6f1;
  border-radius: 50%;
  cursor: pointer;
}

.slideNext {
  width: 40px;
  height: 40px;
  background-color: #9ec6f1;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 9px;
}

.slideHover:hover {
  background-color: #82aede;
}

.img-chevron-left {
  margin: 12px;
  padding-left: 1px;
}
.chevron-padding {
  padding-left: 3px;
}

@media (max-width: 800px) {
  .Features-sub {
    font-size: 19px;
    text-align: center;
  }
  .title {
    font-size: 35px;
    padding: 0px 17px;
  }
  .Testimonials-slider {
    padding: 30px 60px 0 60px !important;
  }
}

@media (min-width: 800px) {
  .Testimonials {
    margin-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .Testimonials-slider {
    padding: 20px 40px 0 40px !important;
  }
  .alice-carousel {
    width: 72% !important;
  }
}
@media (max-width: 1080px) {
  .slider-container {
    display: none;
  }
}
