.TimetrackingTimerEdit-Rectangle {
  width: 500px;
  height: auto;
  margin: 38px 156px 0 95px;
  padding: 15px 15px 15px 15px !important;
  border-radius: 12px;
  box-shadow: 0 8px 12px 0 rgba(17, 17, 17, 0.2);
  background-color: #fff;
}

.TimeTrackingTimerEdit-FormText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

.TimeTrackingTimerEdit-Input-RectangleOne {
  width: 68px;
  height: 56px;
  margin: 3px 0px 6px 0px;
  padding: 18px 12px 18px 20px;
  border-radius: 12px;
  border-right: none !important;
  border: solid 1px #7d849e;
  background-color: #fff;
}

.TimeTrackingTimerEdit-Input-RectangleTwo {
  width: 58px;
  height: 56px;
  margin: 3px 0px 6px 0px;
  padding: 18px 12px 18px 15px;
  border-radius: 12px;
  border-left: none !important;
  border: solid 1px #7d849e;
  background-color: #fff;
}

.TimeTrackingTimerEdit-Input-RectangleThree {
  width: 100% !important;
  height: 56px;
  margin: 6px 0 9px 0;
  padding: 18px 18px 18px 20px;
  border-radius: 12px;
  border: solid 1px #7d849e;
  background-color: #fff;
}

.TimeTrackingTimerEdit-MarginTop {
  margin-top: -50px;
}

.TimeTrackingTimerEdit-Input-RectangleOneOne {
  width: 143px;
  height: 56px;
  margin: 6px 0px 6px 0px;
  padding: 18px 12px 18px 20px;
  border-radius: 12px;
  border-right: none !important;
  border: solid 1px #7d849e;
  background-color: #fff;
}

.TimeTrackingTimerEdit-Input-RectangleTwoTwo {
  width: 58px;
  height: 56px;
  margin: 6px 0px 6px 0px;
  padding: 14px 12px 18px 20px;
  border-radius: 12px;
  border-left: none !important;
  border: solid 1px #7d849e;
  background-color: #fff;
}

.TimeTrackingTimerEdit-Update-Rectangle {
  width: 100%;
  height: 56px;
  margin: 48px 0px 30px;
  padding: 18px 180px 18px 180px;
  border-radius: 12px;
  background-color: #6d5ed3;
}

.TimeTrackingTimerEdit-Update-All {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
