.borderTable {
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  white-space: nowrap;
  overflow-x: auto;
  /* max-width: 1145px; */
}

.custom-noData {
  align-items: center;
  height: 200px;
  margin: auto !important;
}

.col-classData {
  font-size: 14px;
  padding: 15px 0 15px 15px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-left: 10px;
}

.col-classData-header {
  font-size: 14px;
  padding: 15px !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-left: 10px;
}

.react-bootstrap-table table {
  table-layout: auto !important;
  margin-bottom: 0rem !important;
}

.EmptyData {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #767676;
}

.importFrom {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-decoration: underline;
  line-height: 1.22;
  letter-spacing: normal;
  margin-top: 12px;
  color: #fa6e31;
}

.sortBy {
  font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4c4c4c;
  justify-content: flex-end;
  cursor: pointer;
  /* max-width: 1130px; */
}

.searchBar {
  border: none;
  cursor: pointer;
}

.sortbySvg {
  height: fit-content;
  align-items: center;
  margin-top: 2px;
}

select#select-filter-column-Country {
  display: none;
}

.sortByStatus {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-right: 40px;
}

.col-data-align {
  font-size: 14px;
  padding: 15px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
}

.sortable {
  font-size: 14px;
  padding: 15px !important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #4c4c4c;
  margin-left: 10px;
}

span.order {
  display: none;
}

label.filter-label {
  margin-bottom: 0 !important;
}

span.react-bootstrap-table-sort-order {
  display: none;
}
